<main>
  <h2>Welcome <%= accountData.account_firstname %></h2>

  <p>Email: <%= accountData.account_email %></p>
  <p>Account Type: <%= accountData.account_type %></p>

  <ul>
    <li>
      <a href="/account/update/<%= accountData.account_id %>">Update Account Info</a>
    </li>
    <li>
      <a href="/account/logout">Logout</a>
    </li>
  </ul>

  <% if (accountData.account_type === "Employee" || accountData.account_type === "Admin") { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv">Manage Inventory</a></p>
  <% } %>
</main>
