<main class="management-view">
    <% if (messages && messages().length > 0) { %>
      <div class="flash-wrapper">
        <%- messages() %>
      </div>
    <% } %>
  
    <h1>Inventory Management</h1>
  
    <p>Use the links below to manage classifications and inventory items:</p>
  
    <ul class="management-links">
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
    </ul>
  </main>