<main class="management-view"> 
  <h1>Inventory Management</h1>

  <p>Use the links below to manage the inventory.</p>
  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
  </ul>

  <% if (classificationList) { %>
    <h2>Modify Existing Inventory</h2>
    <form id="classificationForm">
      <label for="classification_id">Select a classification:</label>
      <%- classificationList %>
    </form>

    <noscript><strong>JavaScript must be enabled to use this page.</strong></noscript>
    <table id="inventoryDisplay"></table>
  <% } %>

  <script src="/js/inventory.js"></script>
</main> 
