
<main id="wrapper">
  <section class="error-container" role="alert">
    <h1><%= title %></h1>
    
    <p><%= message %></p>

    <p>Don't worry, even the best developers encounter errors. Maybe take a deep breath and try again?</p>

    <a href="/" class="error-home-link">Return Home</a>
  </section>
</main>

