<main id="wrapper">
    <section class="error-container">
        <h1><%= title %></h1>
        <p><%- message %></p>
        <p>Don't worry, even the best developers encounter errors. Maybe take a deep breath and try again?</p>
        <a href="/">Go Back Home</a>
    </section>
</main>